@import url("./main.css");
/*
* CSS file for the Mòdul Professional 04 section
*/

.wrapper *{
	text-align: justify;
	text-justify: inter-word;
}

table th, table td{
	text-align: center;
}
table .t_legend{
	text-align: left;
}

.formEval{
	margin: auto;
}