@import url("./main.css");
/*
* CSS file for the Mòdul Professional 04 section
*/
header.major h2.mainTitle{
	font-size: 1.5em;
}

.toJustify{
	text-align: justify;
	text-justify: inter-word;
}

table th, table td{
	text-align: center;
}
table .t_legend{
	text-align: left;
}

.formEval{
	width: 60%;
	margin-bottom: 1%;
}